/** @@author zhangshuoyang */

/**
 * Shared
 */
.root * {
    midLight: derive(white, -70%);
    -fx-font-family: "Helvetica";
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.scroll-bar .thumb {
    -fx-background-color: derive(grey, -20%);
}


/**
 * Background
 */
.background {
    -fx-background-color: derive(grey, -20%);
    background-color: #f2f2f2; /* Used in the default.html file */
    background-image: url("../images/world_map_1.jpg");
    background-size: 500px;
    background-position: left 1px;
    background-repeat: no-repeat;
}


/**
 * Menu Bar
 */
.context-menu {
    -fx-background-color: derive(grey, 90%);
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: #fafafa;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}


/**
 * Command Box
 */
#commandTextField {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-border-width: 1;
}


/**
 * Result Display
 */
#resultDisplay .content {
    -fx-background-color: #fafafa;
    -fx-background-radius: 5;
    /*
    -fx-border-color: transparent transparent black transparent;
    */
}


/**
 * Person List
 */
#personListVBox #name, #personListVBox #id{
    -fx-font-size: 15pt;
}

#personListVBox .scroll-bar:horizontal .thumb {
   /*
    -fx-background-color: transparent;
    */
    -fx-background-color: blue;
}

/**
 * List Cell
 */
.list-cell:filled:odd {
    -fx-background-color: #fafafa;
}

.list-cell:filled:even {
    -fx-background-color: #f2f2f2;
}

.list-cell:filled:hover {
    -fx-background-color: rgba(192, 192, 192, 5);
}

.list-cell:filled:selected {
    -fx-background-color: rgba(192, 192, 192, 10);
}


/**
 * Cell
 */
.cell_big_label {
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-weight: normal;
}

.cell_small_label {
    -fx-font-size: 13px;
    -fx-text-fill: #424242;
    -fx-font-weight: lighter;
}


/**
 * Status Bar
 */
.status-bar {
    -fx-background-color: #fafafa;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}


/**
 * Tags
 */
#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
 }

#tags .label {
    -fx-text-fill: black;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
    -fx-font-weight: bold;

 }
